/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	/*event start*/
	.carousel-indicators-setup{
		display: flex !important;
		flex-direction: row !important;
		justify-content: flex-center !important;
	}
	/*event end*/
	
	/*reservation start*/
	.bg-reservation img{
		visibility:hidden;
	}
	/*reservation end*/	
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	/*event start*/
	.carousel-indicators-setup{	
		display: flex !important;
		flex-direction: row !important;
	}	
	/*event end*/
	
	/*reservation start*/
	.bg-reservation img{
		visibility:hidden;
	}
	
	/*reservation end*/
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
	/*event start*/
	.carousel-indicators-setup{	
		display: flex !important;
		flex-direction: row !important;
		justify-content: flex-center !important;	
	}	
	
	/*event end*/
	
	/*reservation start*/
	.bg-reservation img{
		visibility:hidden;
	}
	/*reservation end*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px){ 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px){ 

}

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
	
}
